<style media="screen">
  .submit_btn {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  .text_input {
    border: 2px solid #4CAF50;
    border-radius: 4px;
    width : 100%;
  }
  .textarea {
    height: 500px;
  }

</style>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= form_for @post do |f| %>
      <div class="col-md-12">
        <%= f.text_field :title, placeholder: "Title", class: "text_input"%>
        <br><br>
      </div>
      <div class="col-md-12">
        <%= f.text_area :content, placeholder: "Content", class: "text_input textarea"%>
        <br><br>
      </div>
      <div class="col-md-12">
        <%= f.submit class: "submit_btn"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
