<style media="screen">
  .textarea {
    min-height: 300px;
  }
  .myinput {
    margin : 5%;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= form_for @post do |f| %>
      <div class="col-md-12">
        <%= f.text_field :title, placeholder: "Title", class: "form-control myinput"%>
      </div>
      <div class="col-md-12">
        <%= f.text_area :content, placeholder: "Content", class: "form-control textarea myinput"%>
      </div>
      <div class="col-md-12">
        <%= f.submit class: "form-control myinput"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
